
.nav-link {
	
	text-align: center;
}

.heading_1 
{
	text-align: center;
}

#title_1 {
	text-align: center;
	font-size: 30px;
}

#para {
	background-color: #808080;
	text-align: justify;
}










.navbar {
	padding-right: 0px; 
	background-color: #832080;
	font-weight: bold;
	border-left: 2px;
	border-right: 2px;
	border-top: 2px;
	border-bottom: 2px;
	text-align: center;

}
.navbar-toggler {
	background-color: #325224;
}


.navbar .container-fluid {
	padding: 0px;

}
.container-fluid p {
	margin: 0px;
	padding: 10px;
	height: 1000px;
	background-color: #808080;
}
/*.container-fluid #title-1 {
	margin: 0px;
	padding: 10px;
	text-align: center;
	background-color: #808080;
}
	
}
#title-1 #title-2 #title-3 {
	margin-bottom: 0px;
	text-align: center;
	background-color: #808080;
	padding-bottom: 0px;
}
.fluid-width h2 {
	text-align: center;
}*/
/*/ Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { ... }

/*/ Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
.vis {
    line-height: 0; 
    font-size: 0;
    color: transparent; 
 }
}

/*/ Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
.vis {
    line-height: 0; 
    font-size: 0;
    color: transparent; 
 }
}

/*/ Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
.vis {
    line-height: 0; 
    font-size: 0;
    color: transparent; 
 }
 }

/*/ Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.vis {
    line-height: 0; 
    font-size: 0;
    color: transparent; 
 }
}